body{
  margin: 0;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.99); 
  font-family: \\5FAE\8F6F\96C5\9ED1,Helvetica,Tahoma,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
  -webkit-font-smoothing: antialiased;
}
#navs{
  position: fixed;
  width: 750px;
  height: 150px;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  overflow: hidden;
}
#app{
  width: 750px;
  height: 420px;
  padding-top: 250px;  
  padding-bottom: 150px;  
  margin: 0 auto;
  z-index: 0;
}